<html lang="en">
<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>

    <div class="blogs-content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolore, doloremque dolorum facere modi nam ratione sed? Aliquam aperiam beatae consequatur labore maiores minus molestias, non, optio totam ut voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem blanditiis debitis dolor dolore eaque facere incidunt, iste libero nostrum numquam obcaecati soluta sunt unde ut veniam voluptate? Facilis, libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi aut corporis deserunt distinctio eaque earum facere fugiat molestiae mollitia nobis, odit rem similique soluta suscipit vel vitae voluptas voluptate?</p>
    </div>
</body>
<%- include('./partials/footer.ejs'); %>
</html>
